@font-face {
  font-family: 'Jost';
  // src: url('../assets/fonts/Jost-300-Light.otf') format('otf');
  src: url('../assets/fonts/Jost-300-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  // src: url('../assets/fonts/Jost-500-Medium.otf') format('otf');
  src: url('../assets/fonts/Jost-500-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  // src: url('../assets/fonts/Jost-600-Semi.otf') format('otf');
  src: url('../assets/fonts/Jost-600-Semi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  // src: url('../assets/fonts/Jost-700-Bold.otf') format('otf');
  src: url('../assets/fonts/Jost-700-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
