@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-MediumItalic.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Heavy.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Heavy.woff) format("woff");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Light.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Medium.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Bold.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Hairline.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Hairline.woff) format("woff");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Book.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Book.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-LightItalic.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-LightItalic.woff) format("woff");
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-SemiItalic.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-SemiItalic.woff) format("woff");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-ThinItalic.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-ThinItalic.woff) format("woff");
  font-weight: 200;
  font-style: italic
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-BlackItalic.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-BlackItalic.woff) format("woff");
  font-weight: 900;
  font-style: italic
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Black.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Thin.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Thin.woff) format("woff");
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-HeavyItalic.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-HeavyItalic.woff) format("woff");
  font-weight: 900;
  font-style: italic
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Semi.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-Semi.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-BookItalic.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-BookItalic.woff) format("woff");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-BoldItalic.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: 'Jost';
  src: url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-HairlineItalic.woff2) format("woff2"), url(https://cdn2.hubspot.net/hubfs/2768099/assets/webfonts/Jost-HairlineItalic.woff) format("woff");
  font-weight: 100;
  font-style: italic
}
